# build output
bin/
obj/
out/
Logs/
*.user
*.suo
*.userprefs
.vs/
*.swp
*.cache
*.db
*.opendb

# publish
publish/

# secrets / local overrides
src/WebApp/MyWeb.WebApp/appsettings.Development.Local.json
